* {
  color: #d0dbe4;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1b;
}

.main-header {
  text-align: center;
  margin-bottom: 40px;
}

.games-header {
  margin-left: 400px;
}

.game-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-bottom: 40px;
}

.grid-item {
  border: 1px solid #000000cc;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.about-container {
  margin-left: 25%;
  margin-right: 25%;
}

.about-header {
  margin-bottom: 10px;
  text-align: center;
}

.about-text {
  margin-bottom: 10px;
  line-height: 20px;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.pet-description {
  margin-bottom: 14px;
}
